@import url(font-awesome.min.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Sizes */
    font-size: 12px;
    --container-width: 1499px;
    /* Colors */
    --header-bg-color : #008037;
    --primary-color: #5EFF8C;
    --white-color: #ffffff;
    --black-color: #000000;
    --light-grey: #D3D3D3;
    --red: #f00020; 
    --yellow: #FFEA00; 
}

/* NORMALIZER */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* HEADER */
.header {
    width: 100%;
    color: var(--white-color);
    background-color: var(--header-bg-color);
}

.header-content {
    position: relative;
    padding: .4rem;
    margin: 0 auto;
    max-width: var(--container-width);
}

.header-logo {
    width: 35%;
    padding-left: .5rem;
    padding-bottom: .5rem;
}

.account {
    position: absolute;
    font-size: .8rem;
    font-weight: bold;
    right: 3.5rem;
    top: calc(50% - 5rem / 2);
    color: var(--white-color);
}

/* HEADER CART */
.cart {
    position: absolute;
    right: .5rem;
    top: calc(50% - 5rem / 2);
}

.cart-img {
    width: 1.5rem;
    background: none;
}

.cart-nb {
    position: absolute;
    top: -.55rem;
    right: .25rem;
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-color);
    font-weight: bold;
}

/* HEADER SEARCHBAR */
.header-form {
    color: var(--black-color);
    display: grid;
    grid-template-columns: 1fr 2.1rem;
    margin: 0 .5rem;
    padding-bottom: .5rem;
}

.autocomplete{
    position: relative;
    display: inline-block;
    color: var(--black-color);
}

.input-product {
    font-size: 1.5rem;
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: .5rem 0 0 .5rem;
}

.input-button-product {
    right: .5rem;
    background-image: url("/public/img/search02.png");
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-color);
    padding: .5rem 1.3rem;
    border-radius: 0 .5rem .5rem 0;
}

@media screen and (min-width: 520px) {
    .account {
        font-size: 1.2rem;
        right: 6rem;
        top: calc(50% - 6rem / 2);
    }
    
    .header-logo {
        width: 27.5%;
        margin-top: 1rem;
    }

    .cart {
        right: 2rem;
        top: calc(50% - 6.5rem / 2);
    }

    .cart-img {
        width: 2rem;
    }

    .cart-nb {
        top: -.65rem;
        right: .45rem;
        font-size: 1.2rem;
    }

    .header-form{
        margin: auto 0;
        padding: .8rem;
    }

    .input-product{
        height: 3rem;
    }
    .input-button-product {
        padding: 0 1.4rem;
    }
}

@media screen and (min-width: 768px) {
    .header-content{
        display: grid;
        grid-template-columns: 20% 60% 15% 5%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .header-link-logo{
        display:flex;
        justify-content: flex-start;
        align-items: center;
    }
    .header-logo{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .account {
        font-size: 1.3rem;
        right: calc(15% - 12rem/2);
        top: calc(50% - 2rem / 2);
    }
    
    .cart {
        top: calc(50% - 2.5rem / 2);
        right: calc(10% - 12rem/2);
    }
    
    .cart-img {
        width: 2rem;
        background: none;
    }

    .cart-nb {
        top: -.7rem;
        right: .4rem;
        font-size: 1.3rem;
    }

    .header-form{
        margin: auto 0;
    }

    .input-product{
        height: 3.5rem;
    }

    .input-button-product {
        padding: 0 1.5rem;
    }
    
}

@media screen and (min-width: 1100px) {
    .header-content{
        display: grid;
        grid-template-columns: 15% 70% 7.5% 7.55%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .header-logo{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .account {
        right: calc(10% - 10rem/2);
    }

    .cart {
        top: calc(50% - 3rem / 2);
        right: 1rem;
    }
    
    .cart-img {
        width: 2.5rem;
        background: none;
    }

    .cart-nb {
        top: -.8rem;
        right: .5rem;
        font-size: 1.5rem;
    }
}


/* DASHBOARD */
.title-dashboard{
    text-align: center;
    font-size: 1.5rem;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: .1rem solid var(--black-color);
    padding: .5rem;
    margin: 1rem auto; 
    margin-bottom: 2rem;
}

.content-add-link{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.content-back-link{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.add-button, .back-button{
    background-color: var(--primary-color);
    border: .1rem solid var(--black-color);
    color: white;
    font-weight: bold;
    padding: .3rem;
    margin: .5rem;
}

.list-dashboard{
    display: grid;
    grid-template-columns: 1fr;
}

.list-items-dashboard{
    margin: 2rem 1rem;
    line-height: 1.8rem;
    text-align: center;
}
.data-dashboard{
    font-style: italic;
    word-break: break-all;
    text-transform: capitalize;
}

.span-title-dashboard{
    font-style: normal;
    font-weight: bold;
}

.form-items-dashboard{
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.3rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.input-dashboard{
    width: 100%;
    padding: .5rem;
    margin: .4rem 0;
}

.error-message{
    text-transform: lowercase;
    color: var(--red);
}

.change-button{
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: .1rem;
    background-color: var(--light-grey);
    color: white;
}

.button-dashboard{
    background-color: var(--primary-color);
    color: white;
    padding: .4rem;
    width: 50%;
    margin: 0 auto;
}

.hidden{
    display: none !important;
}
.display{
    display: flex;
}

.list-category{
    text-transform: capitalize;
}

.input-category{
    margin: .3rem;
}

@media screen and (min-width: 520px) {
    .list-dashboard{
        grid-template-columns: repeat(2,1fr);
    }
    .title-dashboard{
        padding: .5rem;
    }
    .subtitle-dashboard{
        font-size: 1.2rem;
        padding: .6rem;
        margin: 1rem auto; 
    }

    .input-dashboard{
        margin: 0;
    }

    .image-update{
        width: 40%;
    }

    .button-dashboard{
        width: 25%;
        margin-top: 0;
    }
    .change-button{
        margin: .5rem auto;
        width: 15%;
    }
}

@media screen and (min-width: 768px) {
    .list-dashboard{
        grid-template-columns: repeat(3,1fr);
    }
    .title-dashboard{
        padding: .5rem;
    }
    .input-dashboard{
        width: 70%;
    }
    .button-dashboard{
        width: 30%;
    }
    .image-update{
        width: 35%;
    }
    .button-dashboard{
        width: 18%;
        margin-top: 0;
    }
    .change-button{
        margin: .5rem auto;
        width: 10%;
    }
}

/* Table dashboard */
.table{
    border-top: .12rem solid var(--black-color);
    border-left: .12rem solid var(--black-color);
    border-bottom: .12rem solid var(--black-color);
    margin: 0 auto;
}

.header-table{
    background-color: var(--primary-color);
}

.little-cells {
    text-align: center;
}

.middle-cells-header, .little-cells-header, .big-cells-header{
    border-right: .12rem solid var(--black-color);
    padding: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white-color);
    text-align: center;
}

.middle-cells, .little-cells, .big-cells{
    border-top: .12rem solid var(--black-color);
    border-right: .12rem solid var(--black-color);
    padding: .5rem;
}

.links:hover, .links:active{
    text-decoration: underline;
    background-color: var(--primary-color);
}

@media screen and (min-width: 520px) {
    .little-cells, .middle-cells{
        padding: 1.2rem;
    }
    .middle-cells-header, .little-cells-header{
        padding: 1.4rem;
    }
}

@media screen and (min-width: 768px) {
    .little-cells, .middle-cells{
        padding: 1rem;
    }
    .middle-cells-header, .little-cells-header{
        padding: 1.2rem;
    }
}

/* Account dashboard */
.list-account{
    line-height: 1.4;
    border: .1rem solid var(--light-grey);
}
.list-account-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:.1rem solid var(--light-grey);
}

.list-account-items:last-child{
    border: none;
}

.list-account-datas{
   display: grid;
   grid-template-columns: 1fr;
   padding: 1rem;
   margin: 1.5rem 0;
}

.title-list-account{
    font-weight: bold;
}

.modify-button-account{
    padding: 1rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border:.1rem solid var(--black-color);
    margin: 1rem;
}

.modify-button-account:hover{
    background-color: var(--black-color);
}

/* Account form dashboard */ 
.form-list-dashboard{
    margin-top: 1rem ;
    border: .1rem solid var(--light-grey);
}

.form-items-dashboard-civility{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1.3rem 1rem;
}

.select-sexe{
    width: 28%;
    margin: 0 1rem;
}

@media screen and (min-width: 520px) {
    .list-account{
        width: 80%;
        font-size: 1.2rem;
        margin: 0 auto;
    }
    .select-sexe{
        width: 16%;
    }
}

@media screen and (min-width: 768px) {
    .form-list-dashboard{
        width: 90%;
        margin: 1rem auto;
    }
    
    .list-account{
        width: 60%;
        margin: 0 auto;
    }
    .select-sexe{
        width: 10%;
    }
}

/* List of Products */
.title-page-product{
    color: var(--white-color);
    padding: .2rem .5rem;
    font-weight: 500;
    background-color: var(--primary-color);
}

.sort-by-filter{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.sort_by{
    border-color: var(--light-grey);
}

.list-products-items{
    display : grid;
    grid-template-columns: repeat(2, 50%);
    width: 90%;
    gap: .5rem;
    margin: 1rem auto;
    padding: 1rem;
    padding-right: 1.6rem;
    line-height: 1.4;
    border: .1rem solid var(--light-grey);
}

.page-product-description{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-image{
    width: 90%;
}

.add-buttons{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.title-product{
    font-size: 1.3rem;
    font-weight: 500;
}

.rating-product{
    color: var(--yellow);
}

.price-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.add-to-shopping-cart{
    color: var(--white-color);
    font-size: 1.5rem;
    margin-left: .5rem;
    padding: .7rem;
    background-color: var(--header-bg-color);
    border-radius: 50%;
}

.add-to-favorite{
    font-size: 1.2rem;
}

.disableCart{
    background-color: grey;
}

@media screen and (min-width: 520px) {
    .list-products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .page-product-description{
        font-size: 1.1rem;
    }
    .title-page-product{
        font-size: 1.2rem;
    }

    .sort-by-filter{
        justify-content: flex-end;
        margin-top: 1rem;
    }

    .form-sorting{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .sort_by{
        width: 80%;
        margin-right: .5rem;
    }
}

@media screen and (min-width: 768px) {
    .list-products{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .page-product-description{
        font-size: 1.2rem;
    }
    .title-page-product{
        font-size: 1.3rem;
    }

    .sort_by{
        width: 60%;
        margin-right: .7rem;
    }
}

/* Detailed product */ 
.title-detailed-product{
    text-align: center;
    font-size: 1.5rem;
    margin-top: .5rem;
    font-weight: 500;
}

.rating-detailed-product{
    color: var(--yellow);
    margin: 0 auto;
}

.price{
    color: var(--red);
    font-size: 2rem;
    font-weight: 500;
}

.page-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding-bottom: 2rem;
}  

/* PICTURES */
.pictures {
    position: relative;
    display: flex;
    flex-direction: column;
}

.pictures-handler {
    position: absolute;
    top: calc(50% - 1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    aspect-ratio: 1/1;
    font-size: 3rem;
    cursor: pointer;
}

.pictures-prev {
    left: 1rem;
}
.pictures-next {
    right: 1rem;
}

.pictures-img {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .pictures {
        max-width: 600px;
    }
    .pictures-handler {
        display: none;
    }
    .pictures-img {
        width: 100%;
        aspect-ratio: 1/1;
    }
}

/* THUMBS */ 
.thumbs {
    display: none;
}

@media screen and (min-width: 768px) {
    .thumbs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    .thumbs-itm {
        font-size:0;
    }
    .thumbs-img {
        width: 100%;
    }
}
/* ADD TO CART */
.add {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    gap: 1rem;
    width: 100%;
}
.add-qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    aspect-ratio: 1/1;
    padding: .5rem;
    border: .25rem solid var(--primary-color);
    text-align: center;
    font-size: 1.2rem;
}

.add-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
    border: .25rem solid var(--primary-color);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--primary-color);
    cursor:pointer;
    color: var(--white-color);

}
.add-cta:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    border: .25rem solid var(--primary-color);
}

/* Description product */ 
.description{
    padding: 1rem;
    border: .25rem solid var(--primary-color);
    margin: 1rem;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.subtitle-description{
    text-decoration: underline;
}
